$color-periwinkle-gray: #b2c7e2;
$color-white: #fff;
$color-gumbo: #7ea1a6;
$color-charm: #db7093;
$color-thistle: #d8bfd8;
$color-light-orchid: #dda0dd;
$color-orchid: #da70d6;
$color-slate-gray: #708090;
$color-fiord: #415a67;
$color-pelorous: #42bcbd;
$color-affair: #7e4b83;
$color-confetty: #eacb5f;
$color-fantasy: #f9f0ee;
$color-twilight: #e3ceda;

