extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = 'My really ultra awesome Cv';
    var myDescriptionForGoogleSearch = 'This is made using PURE HTML5 and CSS3 tehniques';
block awesome-content
  h1 this is it